@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Merriweather+Sans:wght@300;400;500;700;800&display=swap");

body {
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
}

.bg-dark,
.text-bg-dark {
  background-color: #004071 !important;
}

main {
  position: relative;
  top: 36px;
}
